<div class="container">
    <div class="row justify-content-center mb-5">
        <div class="col-lg-3 py-3">
            <h3><span class="text-primary">VIP PARKING</span></h3>
            <p>GRACIAS POR VISITAR NUESTRO SITIO WEB, NUESTRO CONTACTO</p>

            <p><a href="#">daniwolf_12@hotmail.com</a></p>
            <p><a href="#">+ 57 313 24 22 876</a></p>
        </div>
        <div class="col-lg-3 py-3">
            <h5>Enlaces rapidos</h5>
            <ul class="footer-menu">
                <li><a href="#">Como funcionamos</a></li>
                <li><a href="#">Seguridad</a></li>
                <li><a href="#">Piking</a></li>
                <li><a href="#">Sedes</a></li>
                <li><a href="#">Reporte de incidencias</a></li>
            </ul>
        </div>
        <div class="col-lg-3 py-3">
            <h5>Quienes somós</h5>
            <ul class="footer-menu">
                <li><a href="#">Acerca de nosotros</a></li>
                <li><a href="#">Trabaja con nosotros</a></li>
                <li><a href="#">Equipos</a></li>
                <li><a href="#">Testimonios</a></li>
                <li><a href="#">Noticias</a></li>
            </ul>
        </div>
        <div class="col-lg-3 py-3">
            <h5>Suscribirme</h5>
            <form action="#">
                <input type="text" class="form-control" placeholder="ingresa tu correo..">
            </form>

            <div class="sosmed-button mt-4">
                <a href="#"><span class="mai-logo-facebook"></span></a>
                <a href="#"><span class="mai-logo-twitter"></span></a>
                <a href="#"><span class="mai-logo-google"></span></a>
                <a href="#"><span class="mai-logo-linkedin"></span></a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 py-2">
            <p id="copyright">&copy; 2023 <a>ING LOBO</a>. todos los derechos reservados</p>
        </div>
        <div class="col-sm-6 py-2 text-right">
            <div class="d-inline-block px-3">
                <a href="#">Privacidad</a>
            </div>
            <div class="d-inline-block px-3">
                <a href="#">Contactame</a>
            </div>
        </div>
    </div>
</div> <!-- .container -->