@model parkingvip.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = null;  
}
<link href="~/css/style.css" rel="stylesheet" />
<link href="~/css/bootstrap.min.css" rel="stylesheet" />

<link href="~/css/custom.css" rel="stylesheet" />
<link href="~/css/owl.carousel.css" rel="stylesheet" />
<link href="~/css/responsive.css" rel="stylesheet" />
<link href="~/css/perfect-scrollbar.css" rel="stylesheet" />
<link href="~/css/maicons.css" rel="stylesheet" />

<flash dismissable="true" />

<div class="row">
    <div class="col-md-4 offset-4">
        <div class="card bg-primary mb-3" style="width: 450px; height: 450px">
            <h5 class="card-header text-center text-white"><i class="fa-solid fa-envelope text-navy text-white"></i> Iniciar Sesión</h5>
            <div class="card-body " style="background-color:#c7d0d9">
                <h3></h3>
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" type="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                        <div class="form-check">
                            <input asp-for="RememberMe" type="checkbox" class="form-check-input" />
                            <label asp-for="RememberMe" class="form-check-label"></label>
                        </div>
                        <span asp-validation-for="RememberMe" class="text-warning"></span>
                    </div>
                    <div class="form-group mt-2">
                        <button input type="submit" value="Login" class="btn btn-primary btn-block"><i class="fa-solid fa-user"></i> Iniciar Sesión</button>
                        <a asp-action="Register" class="btn btn-primary btn-block"><i class="fa-solid fa-circle-plus"></i> Registrar Nuevo Usuario</a>
                    </div>
                </form>
            </div>
            <div class="card-footer bg-secondary text-center">
                ¿Has olvidado tu contraseña?<a asp-action="RecoverPassword"> Recuperala</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}