@{
    ViewData["Title"] = "Quienes Somos";
}


<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

  <!-- Back to top button -->
  <div class="back-to-top"></div>

  <main>
    <div class="page-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 py-3">
            <div class="img-fluid text-center">
              <img src="~/images/quienessomos.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-6 py-3 pr-lg-5">
              <hr />
              <h2 class="title-section">Somos el parking más<span class="marked">Dinamico,</span>con la mejor logistica y seguridad de la ciudad</h2>
            <div class="divider"></div>
            <p  style="color:#0d4896;">
              Con nuestros servicios puedes relajarte y disfrutar, si llegas de afan no es necesario que aparques tu vehiculo, solo necesitas dejarlo encendido
              y pedirle al ballet que lo estacione por ti, es ideal para cuando tienes premura. tambien si vez que tienes buen tiempo puedes mandar lavar , cambiar aceite
              o simplemente hacer un lavado de cojineria. no te preocupes por las cosas que dejas dentro de tu coche, 
              seguro no las perderas, nuestro personal está capacitado y probado para cualquier tipo de situacion.
            </p>
            <a href="#" class="btn btn-primary">Mas detalles</a>
            <a href="#" class="btn btn-outline border ml-2">Historias sorprendentes</a>
          </div>
        </div>
      </div> <!-- .container -->
    </div> <!-- .page-section -->

    <div class="page-section counter-section">
      <div class="container">
        <div class="row align-items-center text-center">
          <div class="col-lg-4">
            <p>Total Invest</p>
            <h2>$<span class="number" data-number="816278"></span></h2>
          </div>
          <div class="col-lg-4">
            <p>Yearly Revenue</p>
            <h2>$<span class="number" data-number="216422"></span></h2>
          </div>
          <div class="col-lg-4">
            <p>Growth Ration</p>
            <h2><span class="number" data-number="73"></span>%</h2>
          </div>
        </div>
      </div> <!-- .container -->
    </div> <!-- .page-section -->

    <!-- Testimonials -->
    <div class="page-section bg-light">
      <div class="container">

        <div class="owl-carousel" id="testimonials">
          <div class="item">
            <div class="row align-items-center">
              <div class="col-md-6 py-3">
                <div class="testi-image">
                  <img src="~/images/person_1.jpg" alt="">
                </div>
              </div>
              <div class="col-md-6 py-3">
                <div class="testi-content">
                  <p>este personaje es quien puede aparcar tu coche, si lo vez no salgas corriendo , no vayas a creer que desea
                    robarte, él trabaja para nosotros y es el encargado de recibir los coches.
                  </p>
                  <div class="entry-footer">
                    <strong>Enrique Iglesias</strong> &mdash; <span class="text-grey">Parking conductor</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="row align-items-center">
              <div class="col-md-6 py-3">
                <div class="testi-image">
                  <img src="~/images/person_2.jpg" alt="">
                </div>
              </div>
              <div class="col-md-6 py-3">
                <div class="testi-content">
                  <p>
                    este personaje aunque tiene cara barbada es muy buena gente, es nuestro administrador del parking y la persona
                    a quien debes acercarte para dar una sugerencia o propina , puesto que con el excelente servicio que te brindamos
                    es poco usual los reclamos. que esperas animate, ven y conoce mas de nuestro personal calificado !!
                  </p>
                  <div class="entry-footer">
                    <strong>Sebastian Martinez</strong> &mdash; <span class="text-grey">Parking Admin</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div> <!-- .container -->
    </div> <!-- .page-section -->
  </main>



</body>
</html>