@{
    ViewData["Title"] = "Bienvenidos ";
}
<div class="page-banner home-banner">
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-lg-6 py-3 wow fadeInUp">
                <h1 class="mb-7" style="color:#21b4b9;">SU VEHICULO EN LAS MEJORES MANOS</h1>
                <p class="text-lg mb-5">
                    Deja tu vehículo con nuestro equipo de profesionales, ya sea que solo desees un lugar seguro donde estacionar
                    o mientras haces tus diligencias nosotros te lo concentimos, lo lavamos, enceramos y lo dejamos como nuevo. tambien tenemos otros
                    servicios, ven atrevete a probar algo diferente.
                </p>

                <a href="#" class="btn btn-outline border text-secondary">Más Informacion</a>
                <a href="#" class="btn btn-primary btn-split ml-2">Ver Video <div class="fab"><span class="mai-play"></span></div></a>
            </div>
            <div class="col-lg-6 py-3 wow zoomIn">
                <div class="img-place">
                    <img src="~/images/parking.jpg.jfif" alt="">
                </div>
            </div>
        </div>
    </div>
</div>